{% extends 'base.html'%}
{% load static %}
{% block 'extra_head' %}
<link rel="stylesheet" href="{% static 'styles/login.css'%}">
{% endblock 'extra_head' %}
{% block 'title' %}
<title>arogyamitra | login</title>
{% endblock 'title' %}
{% block 'main' %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="body">
        <div class="container">
            <div class="form-container">
                <div class="form-box">
                    <h2>Login</h2>
                    <p class="signUp">Doesn't have an account yet? <a href="{% url 'register' %}">Sign Up</a></p>
                    <form method='POST'>
                        {% csrf_token %}
                        <div class="input-field">
                            <label for="emailId">Email Address</label>
                            <input type="email" id="emailId" name="email" placeholder="you@example.com">
                        </div>
                        <div class="input-field password-container">
                            <div class="passwordLabels">
                                <label for="password">Password</label>
                            </div>
                            <input type="password" id="password" name="password" placeholder="Enter 6 character or more">
                            <div class="passwordLabels">
                                <a href="#" class="forgot-password">Forgot Password?</a>
                            </div>
                        </div>

                        <button type="submit" class="login-btn">LOGIN</button>
                        
                    </form>
                    <a href="{% url 'home' %}"><button class="login-btn">Cancle</button></a>
                    <div class="divider">or login with</div>
                    <div class="social-login">
                        <a href='#' class="google-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
                            </svg>
                            Google
                        </a>
                        <a href="#" class="facebook-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-meta" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.217 5.243C9.145 3.988 10.171 3 11.483 3 13.96 3 16 6.153 16.001 9.907c0 2.29-.986 3.725-2.757 3.725-1.543 0-2.395-.866-3.924-3.424l-.667-1.123-.118-.197a55 55 0 0 0-.53-.877l-1.178 2.08c-1.673 2.925-2.615 3.541-3.923 3.541C1.086 13.632 0 12.217 0 9.973 0 6.388 1.995 3 4.598 3q.477-.001.924.122c.31.086.611.22.913.407.577.359 1.154.915 1.782 1.714m1.516 2.224q-.378-.614-.727-1.133L9 6.326c.845-1.305 1.543-1.954 2.372-1.954 1.723 0 3.102 2.537 3.102 5.653 0 1.188-.39 1.877-1.195 1.877-.773 0-1.142-.51-2.61-2.87zM4.846 4.756c.725.1 1.385.634 2.34 2.001A212 212 0 0 0 5.551 9.3c-1.357 2.126-1.826 2.603-2.581 2.603-.777 0-1.24-.682-1.24-1.9 0-2.602 1.298-5.264 2.846-5.264q.136 0 .27.018Z"/>
                            </svg>
                            Facebook
                        </a>
                    </div>
                </div>
            </div>
            <div class="illustration">
                <img src="{% static 'images/clip.png' %}" alt="Illustration">
            </div>
        </div>
    </div>
{% endblock 'main' %}